*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container {
    width: 2400px;
    height: 700px;
    border: 3px solid black;
    background-color: rgb(192, 230, 246);
    margin: 20px auto;
    position: relative;
    overflow: hidden;
}
#layerZero {
    background-image: url(day7_challenge/images/layer_0.png);
    height: 600px;
    width: 3000px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 4;
}

#layerOne {
    background-image: url(day7_challenge/images/layer_1.png);
    height: 600px;
    width: 3000px;
    position: absolute;
    left: 0;
    top: 300;
    z-index: 5;
}

#layerTwo {
    background-image: url(day7_challenge/images/layer_2.png);
    height: 600px;
    width: 3000px;
    position: absolute;
    left: 0;
    top: 300;
    z-index: 6;
}

#layerThree {
    background-image: url(day7_challenge/images/layer_3.png);
    height: 600px;
    width: 3000px;
    position: absolute;
    left: 0;
    top: 300;
    z-index: 7;
}

#layerFour {
    background-image: url(day7_challenge/images/layer_4.png);
    height: 600px;
    width: 3000px;
    position: absolute;
    left: 0;
    top: 280;
    z-index: 8;
}

#layerFive {
    background-image: url(day7_challenge/images/layer_5.png);
    height: 600px;
    width: 3000px;
    position: absolute;
    left: 10;
    top: 270;
    z-index: 8;
}

#layerSix {
    background-image: url(day7_challenge/images/layer_6.png);
    height: 600px;
    width: 3000px;
    position: absolute;
    left: 0;
    top: 250;
    z-index: 8;
}

